<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Contact</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Social media I occassionally use:</p>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
          
          {% if site.tumblr_username %}
          <li>
            {% include icon-tumblr.html username=site.tumblr_username %}
          </li>
          {% endif %}          
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Read my data visualization blog!</p>
        <a href="http://3pats.ca"><span class="icon icon--3pats">{% include icon-3pats.svg %}</span><span class="username">3Pats</span></a>
      </div>
    </div>

  </div>

</footer>
