---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>  
<script type="text/javascript">
	var $clickme = $('.showdetail'),
	$box = $('.detail');

	$box.hide();

	$clickme.click( function(e) {
	$(this).text(($(this).text() === 'Hide Details' ? 'Read More' : 'Hide Details')).next('.detail').slideToggle();;
	e.preventDefault();
	});
</script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-33118279-1' ]);
	_gaq.push([ '_trackPageview' ]);

	(function() {
	  var ga = document.createElement('script');
	  ga.type = 'text/javascript';
	  ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl'
	      : 'http://www')
	      + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(ga, s);
	})();
</script>
